<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Together</title>

    <link rel="stylesheet" href="styles/main.css">
    <script src="script.js"></script>

</head>

<body>
    
    <form class="main_form" method="post">

        <div class="buttons">

            <input class="remindpswd_button button" name="remindpswd_button" type="submit" value="Remind password">
            <input class="signin_button button" id="signin_button" name="signin_button" type="submit" value="Sign In"></input>
            <input class="signup_button button" name="signup_button" type="submit" value="Sign Up"></input>

        </div>

    </form>

</body>

</html>