<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remind Password</title>

    <link rel="stylesheet" href="styles/style.css">

    <script src="script.js"></script>

</head>

<body>

    <form id='mn_form' class="main_form" method="post">

        <span>Login</span>
        <input type="text" name="login" required></input>

        <span id="error" class="error"></span>

        <div class="buttons">

            <input class="remindpswd_button button" name="remindpswd_button" type="submit" value="Remind password">
            <input class="clear_button button" name="clear_button" type="reset" value="Clear">
            <input class="goto_main_button button" name="goto_main_button" type="submit" value="Go Home" formnovalidate>

        </div>

    </form>

</body>

</html>